menu "Libraries"
config LIBRARIES_LOG
	bool "Level LOG library"
	default y
config LOG_LEVEL
	int "log_level"
	depends on LIBRARIES_LOG
	default 2
	range 0 5
	help
	  All Messages with a loglevel smaller than the console loglevel will
	  be compiled in. The loglevels are defined as follows:

	    0 - TRACE 
	    1 - DEBUG 
	    2 - INFO 
	    3 - WARN 
	    4 - ERROR 
	    5 - FATAL 
config LOG_COLOR
	bool "log color"
	depends on LIBRARIES_LOG
	default n

config LIBRARIES_CMBACKTRACE
	bool "CM Backtrace library"
	default y

choice
	prompt "choose OS platform type"
	depends on LIBRARIES_CMBACKTRACE
	config OS_PLATFORM_FREERTOS
		bool "FREERTOS"
	config BARE_METAL
		bool "BARE METAL"
	config OS_PLATFORM_RTT
		bool "RTT"
	config OS_PLATFORM_UCOSII
		bool "UCOSII"
	config OS_PLATFORM_UCOSIII
		bool "UCOSIII"
endchoice

config CMB_OS_TYPE
	int
	default 0 if OS_PLATFORM_RTT
	default 1 if OS_PLATFORM_UCOSII
	default 2 if OS_PLATFORM_UCOSIII
	default 3 if OS_PLATFORM_FREERTOS

choice
	prompt "choose cpu platform type"
	depends on LIBRARIES_CMBACKTRACE
	config ARM_CORTEX_M3
		bool "arm cortex m3"
	config ARM_CORTEX_M4
		bool "arm cortex m4"
	config ARM_CORTEX_M0
		bool "arm cortex m0"
	config ARM_CORTEX_M7
		bool "arm cortex m7"
endchoice

config CMB_CPU_TYPE
	int
	default 0 if ARM_CORTEX_M0
	default 1 if ARM_CORTEX_M3
	default 2 if ARM_CORTEX_M4
	default 3 if ARM_CORTEX_M7

endmenu
