&adc0 {
	status = "okay";
	pinctrl-0 = <
		&pinctrl_adc0_default
		&pinctrl_adc1_default
		&pinctrl_adc2_default
		&pinctrl_adc3_default
		&pinctrl_adc4_default
		&pinctrl_adc5_default
		&pinctrl_adc6_default
		&pinctrl_adc7_default>;
};

&adc1 {
	status = "okay";
	pinctrl-0 = <
		&pinctrl_adc8_default
		&pinctrl_adc9_default
		&pinctrl_adc10_default
		&pinctrl_adc11_default
		&pinctrl_adc12_default
		&pinctrl_adc13_default
		&pinctrl_adc14_default>;
};

&jtag0 {
	status = "okay";
};

&jtag1 {
	status = "okay";
};

&i2c0 {
	pinctrl-0 = <&pinctrl_i2c0_default>;
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c1 {
	pinctrl-0 = <&pinctrl_i2c1_default>;
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c2 {
	pinctrl-0 = <&pinctrl_i2c2_default>;
	clock-frequency = <I2C_BITRATE_FAST>;
	status = "okay";
};

&i2c3 {
	pinctrl-0 = <&pinctrl_i2c3_default>;
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c6 {
	pinctrl-0 = <&pinctrl_i2c6_default>;
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c7 {
	pinctrl-0 = <&pinctrl_i2c7_default>;
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
};

&i2c8 {
	pinctrl-0 = <&pinctrl_i2c8_default>;
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c9 {
        pinctrl-0 = <&pinctrl_i2c9_default>;
        status = "okay";
        clock-frequency = <I2C_BITRATE_FAST>;
};

&i3c0 {
	status = "okay";
	assigned-address = <0x9>;
	pinctrl-0 = <&pinctrl_i3c0_default>;
	i3c-scl-hz = <12500000>;
	ibi-append-pec;
	secondary;
	i3c0_smq: i3c-slave-mqueue@9 {
		compatible = "aspeed,i3c-slave-mqueue";
		reg = <0x9>;
		msg-size = <256>;
		num-of-msgs = <8>;
		mandatory-data-byte = <0xbf>;
		label = "I3C_SMQ_0";
		status = "okay";
	};
};

&udc {
	status = "okay";
};

&uart1 {
  status = "okay";
};

&uart2 {
  status = "okay";
};

&uart5 {
	current-speed = <57600>;
};

&uart8 {
  status = "okay";
};

&fmc {
	status = "okay";
};

&fmc_cs0 {
	status = "okay";
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;
		boot_partition: partition@0 {
			label = "image-0";
			reg = <0x0 0x100000>;
		};
		dfu_partition: partition@1 {
			label = "image-1";
			reg = <0x0 0x100000>;
		};
	};
};

&fmc_cs1 {
	status = "disabled";
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;
};

&spi1 {
	status = "okay";
};

&spi1_cs0 {
	status = "okay";
	spi-max-buswidth = <4>;
	spi-max-frequency = <3125000>;
	re-init-support;
};

&wdt0 {
	status = "okay";
};

&wdt1 {
	status = "okay";
};

&wdt2 {
	status = "okay";
};

&wdt3 {
	status = "okay";
};

&wdt4 {
	status = "okay";
};

&sram0 {
	reg = <0 DT_SIZE_K(642)>, <DT_SIZE_K(642) DT_SIZE_K(126)>;
};

&gpio0_a_d {
	aspeed,persist-maps = <0x5555004f>;
};

&gpio0_e_h {
	aspeed,persist-maps = <0x002A8060>;
};

&gpio0_m_p {
	aspeed,persist-maps = <0x00000800>;
};

&tach { 
	status = "okay";

	pinctrl-0 = <&pinctrl_tach8_default &pinctrl_tach9_default>;

	fan@0 {
		reg = <9>;
		pulse-pr = <2>;
		min-rpm = <10>;
		tach-div = <5>;
		tach-mode = <2>;
		label = "HB0";
	};
};
