CONFIG_AST2600A2=y
CONFIG_TARGET_EVB_AST2605=y
CONFIG_STDIO_UART=10
CONFIG_CHECK_FOR_STACK_OVERFLOW=2
CONFIG_DEMO_I2C=y
CONFIG_DEMO_KCS=y
CONFIG_DEMO_BT=y
CONFIG_DEMO_SNOOP=y
CONFIG_DEMO_PCC=y
# CONFIG_DEVICE_TIMER is not set
CONFIG_DEVICE_I2C=y
CONFIG_DEVICE_GPIO=y
CONFIG_DEVICE_SGPIOM=y
CONFIG_DEVICE_KCS=y
CONFIG_DEVICE_BT=y
CONFIG_DEVICE_SNOOP=y
CONFIG_DEVICE_PCC=y
# CONFIG_LIBRARIES_LOG is not set
# CONFIG_LIBRARIES_CMBACKTRACE is not set
