
#
# Architecture select
#
CONFIG_ARM=y
# end of Architecture select

#
# ARM architecture
#
CONFIG_ARCH_ASPEED=y
CONFIG_SOC_VENDOR="aspeed"
CONFIG_AST2600_SERIES=y
# CONFIG_AST1030_SERIES is not set
# CONFIG_AST2600A0 is not set
# CONFIG_AST2600A1 is not set
CONFIG_AST2600A2=y
CONFIG_CPU_ID="cortex-m3"
CONFIG_CPU_ARCH="armv7-m"
CONFIG_FPU_SELECT=""
CONFIG_SOC_INCLUDE_FILE="ast2600.h"
# end of ARM architecture

#
# Board select
#
CONFIG_TARGET_EVB_AST2600=y
# CONFIG_TARGET_FPGA_AST2600 is not set
CONFIG_BOARD_VENDOR="aspeed"
CONFIG_BOARD_NAME="evb-ast2600"
# end of Board select

#
# Debug
#
CONFIG_STDIO_UART=10
# CONFIG_PRINT_REG_W is not set
# CONFIG_PINCTRL_NAME_TABLE is not set
# end of Debug

#
# FreeRTOS kernel
#
CONFIG_USE_PREEMPTION=y
# CONFIG_USE_CO_ROUTINES is not set
# CONFIG_HEAP_1 is not set
# CONFIG_HEAP_2 is not set
# CONFIG_HEAP_3 is not set
CONFIG_HEAP_4=y
# CONFIG_HEAP_5 is not set
CONFIG_APPLICATION_ALLOCATED_HEAP=1
CONFIG_TOTAL_HEAP_SIZE=65536
CONFIG_TOTAL_HEAP_NC_SIZE=32768
# end of FreeRTOS kernel

#
# FreeRTOS CLI
#
CONFIG_CLI_BAUD_RATE=115200
CONFIG_CMD_HISTORY_SIZE=10
CONFIG_CMD_MAX_INPUT_SIZE=50
CONFIG_CMD_MAX_INPUT_ARGS=10
CONFIG_INCLUDE_QUERY_HEAP_COMMAND=y
# end of FreeRTOS CLI

#
# Aspeed commands
#
CONFIG_CMD_MEM=y
CONFIG_CMD_CLK=y
# end of Aspeed commands

#
# Demo APPs
#
CONFIG_DEMO_TASK_SW=y
CONFIG_DEMO_GPIO=y
CONFIG_DEMO_I2C=y
CONFIG_DEMO_I3C=y
CONFIG_DEMO_I3C_CASE_1=y
# CONFIG_DEMO_I3C_CASE_2 is not set
# CONFIG_DEMO_I3C_CASE_3 is not set
CONFIG_DEMO_ESPI=y
CONFIG_DEMO_PECI=y
CONFIG_DEMO_PWM_TACH=y
CONFIG_DEMO_ADC=y
CONFIG_DEMO_JTAG=y
CONFIG_SVF=y
CONFIG_DEMO_KCS=y
CONFIG_DEMO_BT=y
CONFIG_DEMO_SNOOP=y
CONFIG_DEMO_PCC=y
CONFIG_DEMO_USB=y
CONFIG_DEMO_CMB=y
CONFIG_DEMO_NET=y
CONFIG_DEMO_MDIO=y
CONFIG_DEMO_FMC_SPI=y
# end of Demo APPs

#
# Devices
#
CONFIG_DEVICE_SERIAL=y
CONFIG_DEVICE_TIMER=y
CONFIG_DEVICE_DELAY_TIMER=0
CONFIG_DEVICE_I2C=y
CONFIG_DEVICE_I3C=y
CONFIG_DEVICE_I3CDMA=y
CONFIG_I3C_IBI=y
CONFIG_DEVICE_IPI=y
CONFIG_DEVICE_ESPI=y
CONFIG_DEVICE_ESPI_HOST_MAP_ADDR=0x98000000
CONFIG_DEVICE_ESPI_HOST_MAP_SIZE=0x10000
CONFIG_DEVICE_PECI=y
CONFIG_DEVICE_PECI_CMD_TIMEOUT=1000
CONFIG_DEVICE_GPIO=y
CONFIG_DEVICE_SGPIOM=y
CONFIG_DEVICE_PWM_TACH=y
CONFIG_DEVICE_ADC=y
CONFIG_DEVICE_JTAG=y
CONFIG_DEVICE_KCS=y
CONFIG_DEVICE_BT=y
CONFIG_DEVICE_SNOOP=y
CONFIG_DEVICE_PCC=y
CONFIG_DEVICE_USB=y
CONFIG_DEVICE_MAC=y
CONFIG_DEVICE_MDIO=y
CONFIG_DEVICE_FMC_SPI=y
# end of Devices

#
# Libraries
#
CONFIG_LIBRARIES_LOG=y
CONFIG_LOG_LEVEL=2
# CONFIG_LOG_COLOR is not set
CONFIG_LIBRARIES_CMBACKTRACE=y
CONFIG_OS_PLATFORM_FREERTOS=y
# CONFIG_BARE_METAL is not set
# CONFIG_OS_PLATFORM_RTT is not set
# CONFIG_OS_PLATFORM_UCOSII is not set
# CONFIG_OS_PLATFORM_UCOSIII is not set
CONFIG_CMB_OS_TYPE=3
CONFIG_ARM_CORTEX_M3=y
# CONFIG_ARM_CORTEX_M4 is not set
# CONFIG_ARM_CORTEX_M0 is not set
# CONFIG_ARM_CORTEX_M7 is not set
CONFIG_CMB_CPU_TYPE=1
# end of Libraries

# CONFIG_OTP_MEM is not set
# CONFIG_SB_ENABLE is not set
