CONFIG_ARM=y
CONFIG_ARCH_ASPEED=y
CONFIG_SOC_VENDOR="aspeed"
CONFIG_TARGET_EVB_AST2600=y
CONFIG_AST2600_SERIES=y
CONFIG_AST2600A2=y
CONFIG_CPU_ID="cortex-m3"
CONFIG_CPU_ARCH="armv7-m"
CONFIG_SOC_INCLUDE_FILE="ast2600.h"
CONFIG_STDIO_UART=10
CONFIG_HEAP_4=y
CONFIG_USE_PREEMPTION=y
CONFIG_CHECK_FOR_STACK_OVERFLOW=2
CONFIG_CLI_BAUD_RATE=115200
CONFIG_INCLUDE_QUERY_HEAP_COMMAND=y
CONFIG_CMD_MEM=y
CONFIG_DEVICE_SERIAL=y
CONFIG_DEVICE_TIMER=n