CONFIG_AST1030_SERIES=y
CONFIG_TARGET_EVB_AST1030=y
CONFIG_TOTAL_HEAP_SIZE=98304
CONFIG_DEMO_NET=y
CONFIG_DEVICE_MAC=y
CONFIG_DEVICE_MDIO=y
# CONFIG_DEVICE_FMC_SPI is not set
# CONFIG_DEVICE_WDT is not set
