CONFIG_AST1030_SERIES=y
CONFIG_TARGET_EVB_AST1030=y
CONFIG_TOTAL_HEAP_SIZE=98304
CONFIG_DEMO_GPIO=y
CONFIG_DEMO_I2C=y
CONFIG_DEMO_I3C=y
CONFIG_DEMO_ESPI=y
CONFIG_DEMO_PECI=y
CONFIG_DEMO_PWM_TACH=y
CONFIG_DEMO_ADC=y
CONFIG_DEMO_JTAG=y
CONFIG_SVF=y
CONFIG_DEMO_KCS=y
CONFIG_DEMO_BT=y
CONFIG_DEMO_SNOOP=y
CONFIG_DEMO_PCC=y
CONFIG_DEMO_USB=y
CONFIG_DEMO_FMC_SPI=y
CONFIG_DEMO_RSA=y
CONFIG_DEVICE_I2C=y
CONFIG_DEVICE_I3C=y
CONFIG_DEVICE_ESPI=y
CONFIG_DEVICE_PECI=y
CONFIG_DEVICE_GPIO=y
CONFIG_DEVICE_SGPIOM=y
CONFIG_DEVICE_PWM_TACH=y
CONFIG_DEVICE_ADC=y
CONFIG_DEVICE_JTAG=y
CONFIG_DEVICE_KCS=y
CONFIG_DEVICE_BT=y
CONFIG_DEVICE_SNOOP=y
CONFIG_DEVICE_PCC=y
CONFIG_DEVICE_USB=y
CONFIG_DEVICE_CRYPTO=y
