
#
# Architecture select
#
CONFIG_ARM=y
# end of Architecture select

#
# ARM architecture
#
CONFIG_ARCH_ASPEED=y
CONFIG_SOC_VENDOR="aspeed"
# CONFIG_AST2600_SERIES is not set
CONFIG_AST1030_SERIES=y
CONFIG_AST1030A0=y
CONFIG_CPU_ID="cortex-m4"
CONFIG_CPU_ARCH="armv7e-m"
CONFIG_FPU_SELECT="-mfloat-abi=hard -mfpu=fpv4-sp-d16"
CONFIG_SOC_INCLUDE_FILE="ast1030.h"
# end of ARM architecture

#
# Board select
#
# CONFIG_TARGET_EVB_AST1030A0 is not set
CONFIG_TARGET_FPGA_AST1030=y
CONFIG_BOARD_VENDOR="aspeed"
CONFIG_BOARD_NAME="fpga-ast1030"
# end of Board select

#
# Debug
#
CONFIG_STDIO_UART=4
# CONFIG_PRINT_REG_W is not set
# end of Debug

#
# FreeRTOS kernel
#
CONFIG_USE_PREEMPTION=y
# CONFIG_USE_CO_ROUTINES is not set
# CONFIG_HEAP_1 is not set
# CONFIG_HEAP_2 is not set
# CONFIG_HEAP_3 is not set
CONFIG_HEAP_4=y
# CONFIG_HEAP_5 is not set
CONFIG_APPLICATION_ALLOCATED_HEAP=1
CONFIG_TOTAL_HEAP_SIZE=65536
CONFIG_TOTAL_HEAP_NC_SIZE=32768
# end of FreeRTOS kernel

#
# FreeRTOS CLI
#
CONFIG_CLI_BAUD_RATE=115200
CONFIG_INCLUDE_QUERY_HEAP_COMMAND=y
# end of FreeRTOS CLI

#
# Aspeed commands
#
CONFIG_CMD_MEM=y
CONFIG_CMD_CLK=y
# end of Aspeed commands

#
# Demo APPs
#
# CONFIG_DEMO_TASK_SW is not set
# CONFIG_DEMO_CMB is not set
# CONFIG_DEMO_NET is not set
# end of Demo APPs

#
# Devices
#
CONFIG_DEVICE_SERIAL=y
CONFIG_DEVICE_TIMER=y
CONFIG_DEVICE_DELAY_TIMER=0
# CONFIG_DEVICE_I2C is not set
# CONFIG_DEVICE_I3C is not set
# CONFIG_DEVICE_IPI is not set
# CONFIG_DEVICE_ESPI is not set
# CONFIG_DEVICE_PECI is not set
# CONFIG_DEVICE_PWM_TACH is not set
# CONFIG_DEVICE_KCS is not set
# CONFIG_DEVICE_BT is not set
# CONFIG_DEVICE_SNOOP is not set
# CONFIG_DEVICE_PCC is not set
# CONFIG_DEVICE_USB is not set
# CONFIG_DEVICE_MAC is not set
# CONFIG_DEVICE_MDIO is not set
# CONFIG_DEVICE_FMC_SPI is not set
# end of Devices

#
# Libraries
#
CONFIG_LIBRARIES_LOG=y
CONFIG_LOG_LEVEL=2
# CONFIG_LOG_COLOR is not set
CONFIG_LIBRARIES_CMBACKTRACE=y
CONFIG_OS_PLATFORM_FREERTOS=y
# CONFIG_BARE_METAL is not set
# CONFIG_OS_PLATFORM_RTT is not set
# CONFIG_OS_PLATFORM_UCOSII is not set
# CONFIG_OS_PLATFORM_UCOSIII is not set
CONFIG_CMB_OS_TYPE=3
CONFIG_ARM_CORTEX_M3=y
# CONFIG_ARM_CORTEX_M4 is not set
# CONFIG_ARM_CORTEX_M0 is not set
# CONFIG_ARM_CORTEX_M7 is not set
CONFIG_CMB_CPU_TYPE=1
# end of Libraries

# CONFIG_OTP_MEM is not set
# CONFIG_SB_ENABLE is not set

CONFIG_OTP_MEM=y
CONFIG_OTP_CONFIG="configs/otp_config/mini_RSA2048_SHA256.json"
CONFIG_OTP_KEY_FOLDER="configs/key"
CONFIG_OTP_USER_DATA_FOLDER="configs/data"
# CONFIG_OTP_FPGA is not set
CONFIG_SB_ENABLE=y
CONFIG_SB_MODE_2=y
# CONFIG_SB_MODE_GCM is not set
# CONFIG_SB_MODE_2_AES is not set
# CONFIG_SB_RSA_1024 is not set
CONFIG_SB_RSA_2048=y
# CONFIG_SB_RSA_3072 is not set
# CONFIG_SB_RSA_4096 is not set
# CONFIG_SB_SHA_224 is not set
CONFIG_SB_SHA_256=y
# CONFIG_SB_SHA_384 is not set
# CONFIG_SB_SHA_512 is not set
CONFIG_SB_RSA_KEY="configs/key/test_oem_dss_private_key_2048_1.pem"