
#
# Architecture select
#
CONFIG_ARM=y
# end of Architecture select

#
# ARM architecture
#
CONFIG_ARCH_ASPEED=y
CONFIG_SOC_VENDOR="aspeed"
# CONFIG_AST2600_SERIES is not set
CONFIG_AST1030_SERIES=y
CONFIG_AST1030A0=y
CONFIG_CPU_ID="cortex-m4"
CONFIG_CPU_ARCH="armv7e-m"
CONFIG_FPU_SELECT="-mfloat-abi=hard -mfpu=fpv4-sp-d16"
CONFIG_SOC_INCLUDE_FILE="ast1030.h"
# end of ARM architecture

#
# Board select
#
# CONFIG_TARGET_EVB_AST1030A0 is not set
CONFIG_TARGET_FPGA_AST1030=y
# end of Board select

#
# Debug
#
CONFIG_STDIO_UART=4
# CONFIG_PRINT_REG_W is not set
# end of Debug

#
# FreeRTOS kernel
#
CONFIG_USE_PREEMPTION=y
# CONFIG_USE_CO_ROUTINES is not set
# CONFIG_HEAP_1 is not set
# CONFIG_HEAP_2 is not set
# CONFIG_HEAP_3 is not set
CONFIG_HEAP_4=y
# CONFIG_HEAP_5 is not set
# end of FreeRTOS kernel

#
# FreeRTOS CLI
#
CONFIG_CLI_BAUD_RATE=115200
CONFIG_INCLUDE_QUERY_HEAP_COMMAND=y
# end of FreeRTOS CLI

#
# Aspeed commands
#
CONFIG_CMD_MEM=y
# end of Aspeed commands

#
# Demo APPs
#
# CONFIG_DEMO_TASK_SW is not set
# end of Demo APPs

#
# Devices
#
CONFIG_DEVICE_SERIAL=y
# CONFIG_DEVICE_I2C is not set
# CONFIG_DEVICE_I3C is not set
# CONFIG_DEVICE_IPI is not set
# end of Devices
