CONFIG_AST1030_SERIES=y
CONFIG_TARGET_YV35_CL=y
CONFIG_TOTAL_HEAP_SIZE=196608
CONFIG_DEMO_GPIO=y
CONFIG_DEMO_I2C=y
CONFIG_DEMO_I3C=n
CONFIG_DEMO_ESPI=y
CONFIG_DEMO_PECI=y
CONFIG_DEMO_PWM_TACH=n
CONFIG_DEMO_ADC=y
CONFIG_DEMO_JTAG=y
CONFIG_SVF=y
CONFIG_DEMO_KCS=n
CONFIG_DEMO_BT=n
CONFIG_DEMO_SNOOP=n
CONFIG_DEMO_PCC=y
CONFIG_DEMO_USB=y
CONFIG_DEMO_FMC_SPI=y
CONFIG_DEVICE_I2C=y
CONFIG_DEVICE_I3C=n
CONFIG_DEVICE_ESPI=y
CONFIG_DEVICE_PECI=y
CONFIG_DEVICE_GPIO=y
CONFIG_DEVICE_SGPIOM=n
CONFIG_DEVICE_PWM_TACH=n
CONFIG_DEVICE_ADC=y
CONFIG_DEVICE_JTAG=y
CONFIG_DEVICE_KCS=y
CONFIG_DEVICE_BT=n
CONFIG_DEVICE_SNOOP=n
CONFIG_DEVICE_PCC=y
CONFIG_DEVICE_USB=y
