
&adc0 {
	status = "okay";
	pinctrl-0 = <&pinctrl_adc0_default &pinctrl_adc1_default
		&pinctrl_adc2_default &pinctrl_adc3_default
		&pinctrl_adc4_default &pinctrl_adc5_default
		&pinctrl_adc6_default &pinctrl_adc7_default>;
};

&adc1 {
	status = "okay";
	pinctrl-0 = <&pinctrl_adc8_default &pinctrl_adc9_default
		&pinctrl_adc10_default &pinctrl_adc11_default
		&pinctrl_adc12_default &pinctrl_adc13_default
		&pinctrl_adc14_default &pinctrl_adc15_default>;
};

&jtag0 {
	status = "okay";
};

&jtag1 {
	status = "okay";
};

&i2c0 {
	pinctrl-0 = <&pinctrl_i2c0_default>;
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
};

&i2c1 {
	pinctrl-0 = <&pinctrl_i2c1_default>;
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c2 {
	pinctrl-0 = <&pinctrl_i2c2_default>;
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c3 {
	pinctrl-0 = <&pinctrl_i2c3_default>;
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c4 {
	pinctrl-0 = <&pinctrl_i2c4_default>;
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c5 {
	pinctrl-0 = <&pinctrl_i2c5_default>;
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c6 {
	pinctrl-0 = <&pinctrl_i2c6_default>;
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c7 {
	pinctrl-0 = <&pinctrl_i2c7_default>;
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c9 {
	pinctrl-0 = <&pinctrl_i2c9_default>;
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i3c_gr {
	status = "okay";
	pull-up-resistor-ohm = <2000>, <2000>, <2000>, <2000>, <2000>, <2000>;
};

&i3c0 {
	status = "okay";
	pinctrl-0 = <&pinctrl_i3c0_default>;
	i3c-scl-hz = <12500000>;
	secondary;
	wait-pid-extra-info;
	ibi-append-pec;
	dcr = <0xCC>;
	i3c0_smq: i3c-slave-mqueue@9 {
		compatible = "aspeed,i3c-slave-mqueue";
		reg = <0x9>;
		msg-size = <256>;
		num-of-msgs = <8>;
		mandatory-data-byte = <0xAE>;
		label = "I3C_SMQ_0";
		status = "okay";
	};
};

&i3c1 {
	status = "okay";
	pinctrl-0 = <&pinctrl_i3c1_default>;
	i3c-scl-hz = <12500000>;
	assigned-address = <0x8>;
};

&i3c2 {
	status = "okay";
	pinctrl-0 = <&pinctrl_i3c2_default>;
	i3c-scl-hz = <1000000>;
	assigned-address = <0x11>;
	i3c-pp-scl-hi-period-ns = <500>;
	i3c-pp-scl-lo-period-ns = <500>;
};

&i2c13 {
	pinctrl-0 = <&pinctrl_i2c13_default>;
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&espi {
	status = "okay";

	perif,dma-mode;
	perif,memcyc-src-addr = <0x98000000>;
	perif,memcyc-size = <0x10000>;

	oob,dma-mode;

	flash,dma-mode;
	flash,safs-mode = <0x2>;
};

&udc {
	status = "okay";
};

&kcs3 {
  status = "okay";
  addr = <0xca2>;
};

&uart1 {
  status = "okay";
};

&uart5 {
  current-speed = <57600>;
};

&uart8 {
  status = "okay";
};

&gpio0_a_d {
  aspeed,persist-maps = <0x08000000>;
};

&fmc {
	status = "okay";
};

&fmc_cs0 {
	status = "okay";
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;
		boot_partition: partition@0 {
			label = "image-0";
			reg = <0x0 0x100000>;
		};
		dfu_partition: partition@1 {
		       label = "image-1";
		       reg = <0x0 0x100000>;
	       };
	};
};

&spi1 {
	status = "okay";
};

&spi1_cs0 {
	status = "okay";
	spi-max-buswidth = <4>;
	spi-max-frequency = <30000000>;
	re-init-support;
};

&spi2 {
	status = "okay";
};

&spi2_cs0 {
	status = "okay";
	spi-max-buswidth = <4>;
	spi-max-frequency = <30000000>;
	re-init-support;
};

&wdt0 {
  status = "okay";
};

&wdt1 {
	status = "okay";
};

&wdt2 {
	status = "okay";
};

&wdt3 {
	status = "okay";
};

&wdt4 {
	status = "okay";
};

&peci {
	status = "disabled";
};

&sram0 {
	/*
	* The cacheable/non-cacheable memory regions should be aligned to 32KB.
	* Refer to the AST1030 data sheet section of "SCUA50: CM4F Cacheable Area Statement".
	* It is currently written as 24KB, and Aspeed will correct to 32KB in the next version.
	* 0xa0000 is the starting offset of the non-cacheable area.
	*/
	reg = <0 DT_SIZE_K(704)>, <0xB0000 DT_SIZE_K(64)>;
};

&pcc {
	status = "okay";
	addr = <0x80>;
	addr-xbit = <0x3>;
	addr-hbit-sel = <0x1>;
	rec-mode = <0x1>;
	dma-mode;
	dma-ringbuf-size = <0x4000>;
};

&kcs3 {
  status = "okay";
  addr = <0xca2>;
};
