choice
	prompt "SOC series"	
	default AST2600_SERIES
config AST2600_SERIES
	bool "ast2600 series"
config AST1030_SERIES
	bool "ast1030 series"		
endchoice

choice
	prompt "SOC ID"
	default AST2600A1
config AST2600A0
	bool "ast2600a0"
	depends on AST2600_SERIES
config AST2600A1
	bool "ast2600a1"
	depends on AST2600_SERIES
config AST2600A2
	bool "ast2600a2"
	depends on AST2600_SERIES
config AST1030A0
	bool "ast1030a0"
	depends on AST1030_SERIES
endchoice

config CPU_ID
	string

config CPU_ARCH
	string

config FPU_SELECT
	string

config SOC_INCLUDE_FILE
	string

if AST2600_SERIES
source "arch/arm/aspeed/ast2600/Kconfig"
endif
if AST1030_SERIES
source "arch/arm/aspeed/ast1030/Kconfig"
endif
